<div class="container-fluid" id="img-slide">
    <%- include('../partials/imgslide.ejs') %>
</div>
<div class="container">
    <p id="header_product" class="mt-5 text-center">Products</p>
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <img src="image/keycaps_360x.webp" alt="">
            <div class="d-grid">
                <a class="btn btn-primary btn-flat" href="/keycap">Keycaps</a>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="image/switches_360x.webp" alt="">
            <div class="d-grid">
                <a href="/switch" class="btn btn-primary btn-flat">Switches</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <img src="image/diy_kit_360x.webp" alt="">
            <div class="d-grid">
                <a href="/diy" class="btn btn-primary btn-flat">DIY KIT</a>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="image/accessories_360x.webp" alt="">
            <div class="d-grid">
                <a href="/Accessories" class="btn btn-primary btn-flat">Accessories</a>
            </div>
        </div>
    </div>
</div>